*{
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    margin: 20px 50px;
}

.rightadmin{
    display: flex;
    margin-right: -50px;
}

.img-login{
    padding: 18px 20px;
    width: 40px;
    height: 40px;
}

.img-admin{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 100%;
    background-color: rgba(189, 7, 7, 1);
}
.container-admin{
    margin: 10px 150px;
}

h2{
    color: rgba(189, 7, 7, 1);
    font-size: 40px;
}

thead{
    background-color: rgb(224, 224, 224);
    text-align: left;
}

table, td, th{
    border: 1px solid black;
    padding: 5px 20px;
    text-align: center;
}
  

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}