*{
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    margin: 20px 50px;
}

.left{
    display: flex;
    margin-top: 15px;
    flex: 1;
}

.right{
    margin: 20px;
    display: flex;
}

.imgLogin{
    padding: 18px 20px;
    width: 40px;
    height: 40px;
}
.imgCart{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.imgRegister{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 100%;
    background-color: rgba(189, 7, 7, 1);
}

.mainLanding{
    margin: 50px 120px;
}

.banner{
    color: white;
    border-radius: 10px;
    display: flex;
    width: 100%;
}

.content{
    display: flex;
    background-color: rgba(189, 7, 7, 1);
    height: 400px;
    width: 900px;
    border-radius: 20px;
    margin-left: 50px;
}

.descript{
    padding: 50px;
    width: 400px;
    margin-left: 100px;
}

.title{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.titleOrder{
    font-weight: bold;
    font-size: 20px;
    margin-left: 45px;
    color: rgba(189, 7, 7, 1);
    
}

.contentOrder{
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: 15px;
}

.order1{
    background-color: rgb(255, 58, 58);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    /* border: 1px solid black; */
    margin-left: 20px;
}
.descriptOrder1{
    margin-left: 10px;
    margin-top: 5px;
}


.buttonOrder{
    border: none;
    text-align: left;
    border-radius: 15px;
    color: rgba(189, 7, 7, 1);
}

.Drop{
    background-color: white;
}